<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Home</title>
		<!-- Link to your CSS file -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>

	<h1>Stats:</h1>

	<p>Strength: {{character.strength.score}}</p>
	<p>Dexterity: {{character.dexterity.score}}</p>
	<p>Constitution: {{character.constitution.score}}</p>
	<p>Intelligence: {{character.intelligence.score}}</p>
	<p>Wisdom: {{character.wisdom.score}}</p>
	<p>Charisma: {{character.charisma.score}}</p>

	<br />

	<p>Proficiency bonus: {{character.proficiency_bonus}}</p>
	<p>Initiative bonus: {{character.initiative_bonus}}</p>

	<br />

	<p>Proficiencies:</p>

	<footer>
		<p>&copy; Sofia Escoto 2025</p>
	</footer>
</html>
