<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Roll!</title>
		<!-- Link to your CSS file -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>

	<a href="/">Reset Stats</a>
	<br />

	<div class="column2">
		<p>Ability scores:</p>
		<ul>
			{% for ability in saving_throws %}
			<li>
				{{ability}} score: {{character.get_ability_score(ability)}}
				<form method="post" action="/roll-ability" style="display: inline">
					<input type="hidden" name="ability" value="{{ ability }}" />
					<button>Roll {{ability}}</button>
					<span class="roll-result"></span>
				</form>
			</li>
			{%endfor%}
			<li>
				Initiative bonus: {{character.initiative_bonus}}
				<form
					method="post"
					action="/roll-initiative"
					style="display: inline"
				>
					<input
						type="hidden"
						name="initiative"
						value="{{ character.initiative_bonus }}"
					/>
					<button>Roll initiative</button>
					<span class="roll-result"></span>
				</form>
			</li>
			<li>Proficiency bonus: {{character.proficiency_bonus}}</li>
		</ul>
	</div>

	<div class="column2">
		<p>Skills:</p>
		<ul id="skill_list">
			{% for skill in skills %}
			<li>
				{{skill}} {% if skill in character.proficiencies %} &check;
				{%endif%}

				<!-- button to roll skill-->
				<form method="post" action="/roll-skill" style="display: inline">
					<input type="hidden" name="skill" value="{{ skill }}" />
					<button>Roll {{skill}}</button>
					<span class="roll-result"></span>
				</form>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="column2">
		<p>Saving throws:</p>
		<ul>
			{% for saving_throw in saving_throws %}
			<li>
				{{saving_throw}} {%if saving_throw in character.proficiencies%}
				&check; {%endif%}
				<form method="post" action="/roll-skill" style="display: inline">
					<input type="hidden" name="skill" value="{{ saving_throw }}" />
					<button>Roll {{saving_throw}} saving throw</button>
					<span class="roll-result"></span>
				</form>
			</li>
			{%endfor%}
		</ul>
	</div>

	<div class="column2">
		<p>Roll custom dice:</p>
		<form method="post" action="/roll-custom-dice" style="display: inline">
			<input type="text" name="custom" placeholder="1d20 + 3" />
			<button>Roll custom</button>
			<span class="roll-result"></span>
		</form>
	</div>

	<!--where rolls show up-->
	<div class="column2">
		<br />
		{%if roll != None%} {%if roll[0] == 1 or roll[0] == 20%}
		<p>NATURAL {{roll[0]}}!</p>
		{%endif%}
		<p>{{roll[0]}} + modifiers => {{roll[1]}}</p>
		{%endif%}
	</div>
	<br />
	<br />

	<footer>
		<p>Sofia Escoto 2025 &copy;</p>
	</footer>
</html>
